.img-gallery > img{
	width: 32%;
	margin-bottom:10px;
	cursor: pointer;
	vertical-align: top;
}
.img-gallery > img.double{
	width: 64%;
}
.img-gallery{
	text-align: center;
}

#lightbox.on{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:fixed;
	left:0;
	pointer-events: auto;
	top:0;
	background:rgba(0,0,0,0.5);
	width:100vw;
	height:100vh;
	overflow: scroll;
}
#lightbox{
	display: none;
	pointer-events: none;
}

#lightbox img{
	max-width:90%;
	max-height: 95vh;
	position: relative;
	display: block;
	margin:0 auto;
}
/*
   fonts
   Pelago Bold

font-family: pelago, sans-serif;

font-weight: 700;

font-style: normal;


Pelago Italic

font-family: pelago, sans-serif;

font-weight: 400;

font-style: italic;


Pelago Bold Italic

font-family: pelago, sans-serif;

font-weight: 700;

font-style: italic;


Pelago Regular

font-family: pelago, sans-serif;

font-weight: 400;

font-style: normal;
*/
a:link, a:hover, a:focus, a{
	color:#cddce1;
	text-decoration: none;
	border-bottom:1px dotted darkgoldenrod;
}
a:hover{
	border-bottom:1px solid darkgoldenrod;
}

a.internal::before{
	display: inline-block;
	color:darkgoldenrod;
	content:"⟶";
	margin-right:10px;
}
a.internal--back::before{
	display: inline-block;
	color:darkgoldenrod;
	content:"⟵";
	margin-right:10px;
}
.post em{
	font-size:50px;
	color:darkgoldenrod;
}
body{
	margin:0;
	font-size:48px;
	color: #cddce1;
	background: #11151c;
	font-weight:400;
	font-family: Study, sans-serif;
}
h1,h2,h3,h4{
	font-size:48px;
	font-weight: 400;
	font-family: Study, sans-serif;
	color:#cddce1;
}

.forum-wrapper{
	width:calc(100% - 100px);
	margin:0 auto;
	background: #11151c;
	padding:50px;
}
.forum-wrapper .inner{
		padding:25px;
		background: #11151c;
		border-radius: 1px;
}
form input[type=radio]{
	opacity: 0;
	position: absolute;
}
form{
	border-top:1px dotted darkgoldenrod;
}
form input[type=radio]:checked + label{
	border:5px solid #2e374c;
	left:3px;
	top:3px;
	box-shadow: 0px 0px 0px #2e374c;
}
.comment .wrapper img{
	border-radius: 1px;
}
button.posted{
	opacity: 0.5;
	pointer-events: none;
}
.comment .wrapper{
	border-left:2px solid #2e374c;
	padding-left:25px;
}
button{
	background: #2e374c;
	border:none;
	outline: none;
	border-radius: 1px;
	padding:15px 25px;
	color:#cddce1;
	font-size:24px;
	font-family: Study;
	cursor: pointer;
	margin-top:15px;
}
label img{
	width: 100%;
	margin-top:50%;
	mix-blend-mode: hard-light;
	transform:translateY(-50%);
}
form label{
	box-shadow: 3px 3px 0px #2e374c;
	border-radius: 1px;
	border:1px solid #2e374c;
	width: 100px;
	height:100px;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	position: relative;
}
form input[type='text']{
  background:transparent;
  color:#cddce1;
  font-size:24px;
  font-family:Study;
  margin-bottom:25px;
  border:1px solid #cddce1;
  margin-left:10px;
  font-weight:400;
  padding-left:5px;
}
form label.name-label{
	box-shadow: none;
	border-radius: 0px;
	border:none;
	font-size:24px;
	width: auto;
	height: auto;
	overflow: hidden;
	cursor: pointer;
	display: inline;
	position: relative;
}
form label.name-label:hover{
	left:0;
	top:0;
	box-shadow:none;
}
form label:hover{
	left:3px;
	top:3px;
	box-shadow: 0px 0px 0px #2e374c;
}
.comment h4, form h4{
	font-size:24px;
}
.comment h4{
	margin:25px 0;
}
.post h4{
	margin:0;
}
form{
	margin:0 50px;
	padding: 25px 0;
	border-bottom:2px solid #2e374c;
}
.leaf{
	display: none;
	position: relative;
	left:-20px;
	bottom:-15px;
	width:50px;
	
}
.forum-wrapper .comment, .post{
	margin-top:0px;
	padding:0 50px;
}
.comment{
	font-size:24px;
	margin-left:50px;
}
.forum-wrapper .comment div, .forum-wrapper .post div{
	margin-top:5px;
}

@media(max-width:760px){
	.forum-wrapper{
		margin:0;
		padding:0;
		width: 100%;
	}
	body,h1,h2,h3,h4{
		font-size:20px;
	}
	.post em{
		font-size:22px;
	}
	form input[type='text'], form label.name-label{
		font-size:20px;
	}
	form input[type='text']{
		margin-left:0;
		margin-top:5px;
	}
	form{
		margin:0;
		padding:0;
		font-size:20px;
	}
	.forum-wrapper .comment, .post{
		margin:0;
		padding:0;
	}
	.leaf{
		bottom:-5px;
		width: 40px;
	}
	label {
		margin:5px;
	}
	.comment h4, form h4{
		font-size:20px;
	}
	form label{
		width: calc(33% - 14px);
	}
	form button{
		margin-bottom:20px;
		font-size:20px;
	}
	.comment img{
		width:100%;
	}
	.forum-wrapper .comment{
		margin-left:5px;
	}
	.post a.internal::before{
		display: block;
		content:" ";
	}
	.post a.internal::after{
		content:"⟶";
		color:darkgoldenrod;
		margin:0 5px;
/*		display: block;*/
	}
}